.container {
  max-width: 940px;
  margin: auto;
  // display: flex;
}

.flex-contain {
}

body {
  background-color: #eae8e6;
  overflow: hidden;
  // position: fixed;
}

@media (max-width: 599px) {
  .container {
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 840px) and (min-width: 600px) {
  .container {
    max-width: 100%;
    margin: 0;
  }
}
