.blog-button {
  background-color: #fe5555;
  max-width: 120px;
  margin: 40px auto;

  a {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-family: avenir;
    padding: 50px 20px;
  }
}
