.navbar {
  // box-sizing: border-box;
  background-color: white;
  position: sticky;
  width: 100%;
  top: 0;
  // box-shadow: 0 30px 30px rgba(0, 0, 0, 0.068);
  padding: 10px 0;
  z-index: 1000;

  nav {
    font-family: "Avenir";
    font-size: 1.5em;
    margin: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;

    .title {
      padding: 7px 7px 5px 7px;
      // margin: px 0;
      // border: #fe5555 solid 2px;
      color: #fe5555;
      line-height: normal;
    }

    // .navlinks {
    //   display: flex;
    //   text-decoration: none;
    //   list-style: none;

    //   li {
    //     margin: 0;
    //   }

    //   a {
    //     font-size: 0.7em;
    //     color: #fe5555;
    //     font-family: "Manaspace";
    //     margin-left: 25px;
    //   }
    // }
  }
}
