.card {
  // background-color: #fe5555;
  background-color: white;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.068);
  max-width: 80%;
  margin: auto;
}

img {
  border-radius: 100%;
  width: 100px;
  margin: 0px;
  background-color: #fe5555;
}
