.profile-section {
  height: 100%;
  display: flex;
  align-items: center;
}

.profile {
  h1 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  h2 {
    color: #fe5555;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
  }

  img {
    display: block;
    width: 150px;
    margin: 0px auto;
  }

  p {
    margin: auto;
    max-width: 85%;
  }
}

// @media (max-width: 599px) {
//   .card-section {
//     height: inherit;
//   }
//   .card {
//     border-radius: 0;
//     height: 100vh;
//   }
// }

// @media (max-width: 840px) and (min-width: 600px) {
//   .card-section {
//     height: inherit;
//   }
//   .card {
//     border-radius: 0;
//     height: 100vh;
//   }
// }
