.card-section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.card {
  // background-color: #fe5555;
  background-color: white;
  padding: 90px 30px;
  border-radius: 20px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.068);
  max-width: 940px;
  // max-height: 600px;
  margin: 100px auto;

  h1 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  h2 {
    color: #fe5555;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
  }

  img {
    display: block;
    // border-radius: 100%;
    width: 150px;
    margin: 0px auto;
  }

  p {
    margin: auto;
    max-width: 85%;
  }
}

@media (max-width: 599px) {
  .card-section {
    height: inherit;
  }
  .card {
    border-radius: 0;
    height: 100vh;
  }
}

@media (max-width: 840px) and (min-width: 600px) {
  .card-section {
    height: inherit;
  }
  .card {
    border-radius: 0;
    height: 100vh;
  }
}
