.projects-section {
  margin-bottom: 4em;
  margin: 0 auto;
  max-width: 80%;
}

.projects {
  padding: 40px 0;
  // margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 35px;
  justify-items: center;
  // justify-content: center;
}

// styles specifically for our cube element
.cube {
  position: relative;
  color: white;
  width: 200px;
  height: 200px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.068);

  .cube-header {
    font-family: 'Avenir';
    position: absolute;
    bottom: 0;
    padding-left: 10px;
  }

  .bar {
    position: absolute;
    background-color: white;
    width: 70px;
    height: 5px;
    top: 75px;
    right: 0;
  }

  .cube-num {
    font-family: 'arial';
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 599px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 840px) and (min-width: 600px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
