.projects {
  padding: 40px 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  // background-color: white;
  // box-shadow: 0 30px 30px rgba(0, 0, 0, 0.068);
}

.cube {
  position: relative;
  color: white;
  width: 200px;
  height: 200px;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.068);

  .cube-header {
    font-family: "Avenir";
    position: absolute;
    bottom: 0;
    padding-left: 10px;
  }

  .bar {
    position: absolute;
    background-color: white;
    width: 70px;
    height: 5px;
    top: 75px;
    right: 0;
  }

  .cube-num {
    font-family: "arial";
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (max-width: 599px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
